.row-title {
    border: 1px solid #999;
    padding: .5rem;
}
.row-content, .row-paging {
    border: 1px solid #999;
    padding: .5rem;
    border-top: none;
}
.no-margin {
    margin: 0;
}
.text-ellipsis {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.row .col-46 {
  width: 42%;
  margin-left: 4%;
}
.hidden {
    display: none;
}
.mb {
    margin-bottom: .5rem;
}
#kaptcha-img {
    cursor: pointer;
}
.tip {
	display: inline-block;
	line-height: 2.2rem;
	font-size: .7rem;
	padding-left: 1.3rem;
	background: url(../../image/tip.ico) no-repeat 0 .4rem;
}