<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">
    <!-- 1、开启SpringMVC注解模式 -->
    <mvc:annotation-driven />
    
    <!-- 2、静态资源配置 -->
    <mvc:resources location="/resources/" mapping="/resources/**" />
    <mvc:default-servlet-handler/>
    
    <!-- 3、定义视图解析器 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/html/"></property>
        <property name="suffix" value=".html"></property>
    </bean>
    
    <!-- 4、文件上传解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
         <!-- 100MB=104857600B  10MB=10485760B  6MB=6291456B -->
         <property name="maxUploadSize" value="#{prop['upload.maxUploadSize']}" /> <!-- 通过SpEL表达式#{}获取bean的属性值 -->
         <!-- <property name="maxInMemorySize" value="4096" /> -->
         <property name="defaultEncoding" value="UTF-8"></property>
    </bean>
    
    <!-- 5、扫描指定位置的controller组件 -->
    <context:component-scan base-package="my.ssm.o2o.web,my.ssm.o2o.component" />
    
    <!-- 6、引入一些配置参数 -->
    <!-- <util:properties id="prop" location="classpath:config.properties"/> -->
    <bean id="prop" class="my.ssm.o2o.component.DecryptProperties">
        <constructor-arg>
            <list>
                <value>classpath:config.properties</value>
            </list>
        </constructor-arg>
    </bean>
    
    <!-- 7、直接转发到指定页面，不需要显式定义控制器 -->
    <mvc:view-controller path="/common/error" view-name="common/error"/>
    
    <!-- 8、拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/local/auth"/>
            <mvc:mapping path="/local/createandbindauth"/>
            <mvc:mapping path="/local/changepassword"/>
            <mvc:mapping path="/frontend/loadconsumptionrecordlist"/>
            <mvc:mapping path="/frontend/loadpointsrecordlist"/>
            <mvc:mapping path="/frontend/loadpointsexpenditurerecordlist"/>
            <mvc:mapping path="/shopadmin/**"/>
            <bean class="my.ssm.o2o.web.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/shopadmin/getshopmanagementinitdata"/>
            <mvc:mapping path="/shopadmin/productcategorymanagement"/>
            <mvc:mapping path="/shopadmin/productmanagement"/>
            <mvc:mapping path="/shopadmin/getproductoperationinitdata"/>
            <mvc:mapping path="/shopadmin/addormodifyproduct"/>
            <mvc:mapping path="/shopadmin/getproductlist"/>
            <mvc:mapping path="/shopadmin/getproductcategorylist"/>
            <mvc:mapping path="/shopadmin/awardmanagement"/>
            <mvc:mapping path="/shopadmin/awardoperation"/>
            <mvc:mapping path="/shopadmin/getawardoperationinitdata"/>
            <mvc:mapping path="/shopadmin/addormodifyaward"/>
            
            <bean class="my.ssm.o2o.web.interceptor.ShopPermissionInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    
    <!-- 9、其他 -->
    <bean class="my.ssm.o2o.util.SpringContextUtils"></bean>
</beans>
