/* 轮播图 */
.swiper-slide img {
    width: 100%;
    height: 100%;
}
.swiper-container {
    height: 35%;
    padding-bottom: 0.4rem;
}
/* 全类查询区 */
.all-shop {
	height: 1.5rem;
}
.all-shop span {
    float: left;
    width: .15rem;
    height: 1.5rem;
    background-color: #0894ec;
}
.all-shop a {
	float: left;
	line-height: 1.5rem;
	padding-left: .8rem;
}
/* 一级类别展示区域 */
.content .list-block {
	margin: .4rem 0;
}
.content .list-block .item-subtitle {
	font-size: .65rem;
}
